body {
    background-image: url("loki.jpg");




    background-size: auto;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    display: block;
    /* background-size: cover; */
    background-position: top center;
    height: 100%;
    width: 100%;
}

.navbar {
    z-index: 1;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 25px;
    opacity: 0.85;
}

.bg-dark {
    background-color: #50630d !important;
}


.nav-link {

    color: #071a03;
}

.navbar-nav .nav-link.active {
    color: #d6ae2f;
    text-decoration: underline;
}

.left {
    margin: 1%;
    padding-bottom: 3%;
    color: #071a03;
    border-radius: 25px;

    background-color: rgba(214, 174, 47, 0.85);
    overflow-y: scroll;
    height: 84%;
    padding: 3%;
    /* text-shadow: 0 0 3px #071a03; */
    float: left;
    width: 50%;
    text-align: justify;
    text-indent: 6%;
    letter-spacing: 0.06rem;

}

.right {
    float: right;
    width: 46%;
    color: #071a03;
    /* color: #d6ae2f; */
    margin: 1%;
    /* color: #071a03; */
    border-radius: 25px;

    background-color: rgba(80, 99, 13, 0.85);
    overflow-y: scroll;
    height: 84%;
    padding: 3%;
    overflow: auto;
}

p{
   
}

.centered {

    width: 100%;

    margin: 3%, 5%;
    color: #071a03;
    border-radius: 25px;

    background-color: rgba(80, 99, 13, 0.85);
    overflow-y: scroll;
    height: 84%;
    padding: 1%;
}

h1,
h2 {
    text-align: center;
    padding-bottom: 5%;
}

/* .footer {
    z-index: 1;
    background-color: red;
    text-align: center;
    padding: 10px;
  } */