body {
    background-image: url("loki.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    display: block;
    background-position: top center;
    height: 100%;
    width: 100%;
}

.navbar-brand {
    font-family: "Parisienne", cursive;
    font-size: 1.9rem;
    padding-right: 3%;
    padding-left: 3%;
    color: #d6ae2f;
}

.bg-success {
    background: rgba(0, 0, 0, 0.5) !important;

}

.nav-link {
    color: #d6ae2f;

}

.nav-item {
    text-align: right;
    padding: 15%, 15%;
}

.navbar-nav .nav-link.active {
    text-align: right;
    color: #50630d;
    text-decoration: underline;
}

.left {

    margin: 5%;
    padding-bottom: 3%;
    color: #50630d;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.85);
    overflow: scroll;
    height: 100%;
    width: 90%;
    padding: 3%;
    text-align: justify;
    text-indent: 6%;
    letter-spacing: 0.06rem;
    float: center;
}

.right .loki_image {
    width: 28%;
    border-radius: 180px;
    background-color: #071a03;
    top: 15%;
    right: 8%;
    opacity: 0.85;
    position: absolute;
    transform: scale(1) rotate(45deg);
    z-index: 0;
}

/* .loki_image {
    float: right;
    padding: 5%;
    width: 25%;
    height: 75%;
} */

.centered {
    width: 100%;
    margin: 3%, 5%;
    color: #071a03;
    border-radius: 25px;
    background-color: rgba(80, 99, 13, 0.85);
    overflow-y: scroll;
    height: 84%;
    padding: 1%;
}

h1,
h2 {
    text-align: center;
    padding-bottom: 5%;
}

.first_ch {
    font-weight: bold;
}

.navbar-brand:hover {
    color: #50630d;
}

p:hover {
    color: #0b450a;
    background-color: black;
}

h1:hover {
    color: #d6ae2f;
}

h1 {
    position: sticky;
}